<%- include("../partials/headerStyle.ejs") %>

<!-- GET request is trying to pull a .cc file page i think  -->
</head>
<body>

<h1>Skill </h1>
    <h3><%= skill.skill %> </h3>
        <h3>Proficient: <%= skill.level == 'Proficient' ? 'Yes' : 'No' %></h3>

<%- include("../partials/footer.ejs") %>