<%- include("partials/headerNoStyle.ejs") %>
<link rel="stylesheet" href="../stylesheets/index.css">
<title><%= title %></title>

</head>
<body>
    <h1><%= title %></h1>
    <a href="/skills">Coding Skills Needed</a>


  <%- include("partials/footer.ejs") %>